[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gExec
GenericName=gExec
Comment=Run command
Comment[de]=Befehl ausführen
Comment[es]=Comando de marcha
Comment[fr]=Exécutez la commande
Comment[it]=Eseguire il comando
Comment[ja]=コマンドを実行します。
Comment[pl]=Uruchom polecenie
Comment[pt]=Executar o comando
Comment[ru]=Выполнить команду
Comment[sv]=Kör kommando
Exec=gexec
Icon=applications-system
Terminal=false
Type=Application
Categories=Applications;System
